# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode10.2
language: swift
# cache: cocoapods
# podfile: Example/Podfile
# before_install:
# - gem install cocoapods # Since Travis is not always on latest version
# - pod install --project-directory=Example
script:
- set -o pipefail && xcodebuild test -workspace Example/FAAutoLayout.xcworkspace -scheme FAAutoLayout-Example -destination 'platform=iOS Simulator,name=iPhone X,OS=12.2' -sdk iphonesimulator12.2 ONLY_ACTIVE_ARCH=NO | xcpretty
- pod lib lint
